---
import CourseLayout from '../../../components/layouts/CourseLayout.astro'
const posts = await Astro.glob('./**/*.md')
---

<CourseLayout pageTitle="Blog in markdown">
  <h1>Blog index</h1>
  {
    posts.map(post => (
      <div class="link-wrapper">
        <a href={post.url} class="link">
          {post.frontmatter.pageTitle}
        </a>
      </div>
    ))
  }
</CourseLayout>

<style>
  .link-wrapper {
    margin-bottom: 0.5rem;
    padding: 0.25rem;
    background-color: antiquewhite;
  }
  .link {
    color: black;
    text-decoration: none;
  }
</style>
