<section
  class="my-4 p-10 sm:p-20 rounded-md bg-slate-900 text-center sm:text-left"
>
  <h2 class="text-2xl font-bold mb-2">About us</h2>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum debitis
    quisquam, ullam harum totam voluptatum corrupti molestias dolores dicta
    recusandae culpa, alias voluptates sit ad ea. Quia quos voluptatum
    exercitationem.
  </p>
</section>
