---
import features from '../../config/features.json'
---

<section class="mb-10 p-5 text-center">
  <div class="mb-5">
    <h2 class="font-bold text-4xl mt-10 mb-2">Best use cases</h2>
    <p>The content of this section is imported from a JSON array</p>
  </div>

  <div class="grid sm:grid-cols-2 md:grid-cols-3 gap-4">
    {
      features.map(feature => {
        return (
          <div class="p-10 bg-slate-700 sm:rounded-md">
            <h3 class="mb-3 text-2xl font-bold">{feature.title}</h3>
            {/* <p>{feature.description}</p> */}
          </div>
        )
      })
    }
  </div>
</section>
