<section
  class="flex flex-col sm:flex-row gap-5 sm:rounded-md bg-slate-700 p-14 text-center sm:text-left"
>
  <div>
    <h1 class="mb-3 text-4xl font-bold">Welcome to my page</h1>
    <p class="mb-3">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi quis
      adipisci necessitatibus optio sunt excepturi maxime molestias facere ullam
      laborum. Ipsam repellendus aut, magnam consequatur sunt perferendis
      dignissimos sed esse!
    </p>
    <button class="px-3 py-2 bg-slate-500 hover:bg-slate-400">
      Start here
    </button>
  </div>

  <img
    src="/images/undraw_developer_activity.svg"
    alt="Developer activity"
    class="w-80"
  />
</section>
