<section
  class="flex flex-col sm:flex-row justify-around align-middle gap-5 mb-8 sm:rounded-md bg-slate-700 p-14 text-center sm:text-left"
>
  <div class="flex flex-col justify-center basis-2/3">
    <h1 class="mb-5 text-4xl font-bold">Astro Demo Landing Page</h1>
    <p class="mb-5">
      This webpage is just a demo one to demonstrate how easy is to create
      static webpages with the Astro all-in-one framework. For more info, check
      the documentation in the above button.
    </p>
    <a
      class="px-3 py-2 bg-slate-500 hover:bg-slate-400 sm:mr-auto"
      href="https://docs.astro.build/en/getting-started/"
      target="_blank"
    >
      Go to the official documentation
    </a>
  </div>

  <img
    src="images/undraw_developer_activity.svg"
    alt="Developer activity"
    class="w-80"
    width="320"
    height="278"
  />
</section>
