<section
  class="flex flex-col sm:flex-row gap-10 p-5 sm:p-14 sm:rounded-md bg-slate-700"
>
  <div class="flex-1 grid grid-cols-2 gap-4">
    <div class="text-center">
      <img src="favicon.svg" alt="Dev management" class="w-20 m-auto" />
      <p class="mt-4">Content 1</p>
    </div>
    <div class="text-center">
      <img src="favicon.svg" alt="Dev management" class="w-20 m-auto" />
      <p class="mt-4">Content 2</p>
    </div>
    <div class="text-center">
      <img src="favicon.svg" alt="Dev management" class="w-20 m-auto" />
      <p class="mt-4">Content 3</p>
    </div>
    <div class="text-center">
      <img src="favicon.svg" alt="Dev management" class="w-20 m-auto" />
      <p class="mt-4">Content 4</p>
    </div>
  </div>

  <div class="flex flex-1 flex-col justify-center">
    <h2 class="mb-3 text-2xl font-bold">
      The content in the left is fully static, with 4 divs in the HTML
    </h2>
    <p class="text-xl">
      But there are other ways that will be demonstrated in the next sections.
    </p>
  </div>
</section>
