---
interface Props {
  pageTitle?: string
}
const { pageTitle = 'Default title' } = Astro.props
---

<style>
  body {
    background-color: #202020;
    color: #ececec;
  }
  .title {
    color: aliceblue;
  }
</style>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro | {pageTitle}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
