---
import LandingLayout from '../layouts/LandingLayout.astro'
---

<LandingLayout
  pageTitle="About page"
  pageDescription="Description of about page"
>
  <div class="p-5">
    <h1 class="title">About page</h1>
  </div>
</LandingLayout>
