---
import LandingLayout from '../layouts/LandingLayout.astro'
---

<LandingLayout
  pageTitle="About page"
  pageDescription="Description of about page"
>
  <h1 class="title">About</h1>
</LandingLayout>
