---
import LandingLayout from '../components/layouts/LandingLayout.astro'
---

<script>
  console.log('This will be shown in browser console')
</script>

<LandingLayout>
  <h1 class="title">Astro Landing</h1>
</LandingLayout>
