<footer class="bg-slate-900 p-5">
  <div class="container flex flex-col sm:flex-row justify-evenly gap-5">
    <div class="flex flex-col">
      <h4 class="mb-3 font-bold text-xl">Sitemap</h4>
      <a href="/astro-demo/">Home</a>
      <a href="/astro-demo/about">About</a>
      <a href="/astro-demo/examples">Examples</a>
    </div>
    <div class="flex flex-col">
      <h4 class="mb-3 font-bold text-xl">Site</h4>
      <p>Lorem, ipsum dolor sit amet consectetur Debitis, nostrum veritatis.</p>
      <p>Lorem, ipsum dolor sint minus. Debitis, nostrum veritatis.</p>
      <p>Lorem, ipsum doident minus. Debitis, nostrum veritatis.</p>
    </div>
    <div class="flex flex-col">
      <h4 class="mb-3 font-bold text-xl">Social</h4>
      <a href="#">FB</a><a href="#">TW</a><a href="#">IG</a>
    </div>
  </div>
</footer>

<style>
  footer a,
  footer p {
    display: block;
    margin-right: auto;
    margin-bottom: 0.25rem;
    line-height: 30px;
  }
</style>
