---
import HomeIcon from '../../assets/HomeIcon.astro'
---

<header>
  <nav class="p-4 bg-black">
    <div class="container flex justify-between items-center">
      <a href="/astro-demo/" aria-label="Home of the Astro Demo Webpage">
        <HomeIcon />
      </a>
      <ul class="flex mr-auto ml-6">
        <!-- <li class="mr-6">
          <a href="/astro-demo/about" class="text-blue-200 hover:text-blue-400"
            >About</a
          >
        </li> -->
        <li class="mr-6">
          <a
            href="/astro-demo/examples"
            class="text-blue-200 hover:text-blue-400">Examples</a
          >
        </li>
      </ul>
      <img
        class="h-8"
        alt="Astro Framework logo"
        src="/astro-demo/images/astro-full-logo.svg"
      />
    </div>
  </nav>
</header>
