---
interface PostProps {
  title: string
  body: string
}
const {
  title = 'Post without title',
  body = 'Post without body',
} /* : PostProps */ = Astro.props
---

<li>
  <h3>{title}</h3>
  <p>{body}</p>
  <hr />
</li>
