---
import Layout from '../../layouts/Layout.astro'
import imageFromSrc from '../../images/pexels-photo-14296967.jpeg'
---

<Layout>
  <h1>Use of images in components:</h1>
  <hr class="mb-4" />
  <div class="flex flex-col sm:flex-row gap-10 content-between">
    <div>
      <h3>Image from public folder:</h3>
      <img src="/astro-demo/images/pexels-photo-14846065.webp" class="w-80" />
    </div>

    <div>
      <h3>Image from src (imported as a variable):</h3>
      <img src={imageFromSrc} class="w-80" />
    </div>
  </div>
</Layout>
