---
import CourseLayout from '../../components/layouts/CourseLayout.astro'
import imageFromSrc from '../../images/pexels-photo-14296967.jpeg'
---

<CourseLayout>
  <h1>About</h1>
  <hr />
  <h3>Image from public folder:</h3>
  <img src="/images/pexels-photo-14846065.webp" />
  <hr />
  <h3>Image from src:</h3>
  <img src={imageFromSrc} />
</CourseLayout>
