---
interface Props {
  pageTitle?: string
  pageDescription?: string
}
const { pageTitle = 'Default title', pageDescription = 'Default description' } =
  Astro.props.frontmatter || Astro.props
---

<style>
  body {
    background-color: #202020;
    color: #ececec;
  }
  .title {
    color: aliceblue;
  }
</style>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro | {pageTitle}</title>
    <meta name="description" content={pageDescription} />
  </head>
  <body>
    <div class="container my-3">
      <slot />
    </div>
  </body>
</html>
